@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="text-center">
        
        <h2>Desafio Embraer</h2>
    </div>

    <div class="row">
        <div class="col-md-12">
           
            <div class="row">


                <a class="btn btn-primary btn-lg btn-block" @Html.ActionLink("Cadastro de Vendas", "Index", "DESAFIO_EMBRAER_VENDA")</a>
                <a class="btn btn-primary btn-lg btn-block" @Html.ActionLink("Cadastro de Produtos", "Index", "DESAFIO_EMBRAER_PRODUTO")</a>
                <a class="btn btn-primary btn-lg btn-block" @Html.ActionLink("Gráfico por vendedor", "Index", "Grafico1")</a>
                <a class="btn btn-primary btn-lg btn-block" @Html.ActionLink("Gráfico por produto", "Index", "Grafico2")</a>
            </div>

        </div>
    </div>



</div>
